@model ClothingJScript.Models.Style

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Style</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StyleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clothing.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clothing.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StyleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
